/* webfont */
@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

/* animation */
@keyframes backright {
    0% {
        transform: rotate(0);
    }

    50% {
        transform: rotate(30deg);
    }

    100% {
        transform: rotate(0);
    }
}

@keyframes backleft {
    0% {
        transform: rotate(0);
    }

    50% {
        transform: rotate(-30deg);
    }

    100% {
        transform: rotate(0);
    }
}

@keyframes titleicon1 {
    0% {
        transform: rotate(0);
    }

    40% {
        transform: rotate(-10deg);
    }

    80% {
        transform: rotate(10deg);
    }

    100% {
        transform: rotate(0);
    }
}

@keyframes titleicon2 {
    0% {
        transform: rotate(0);
    }

    40% {
        transform: rotate(10deg);
    }

    80% {
        transform: rotate(-10deg);
    }

    100% {
        transform: rotate(0);
    }
}


@keyframes kneadingbig {
    0% {
        transform: rotate(0);
    }

    100% {
        transform: rotate(-360deg);
    }
}

@keyframes kneadingsmall {
    0% {
        transform: rotate(0);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes textflow1{
    from{
        transform: translateX(0);
    }
    to{
        transform: translateX(-50%);
    }
}

@keyframes goods{
    0%{
        transform: translateY(0);
    }
    11%{
        transform: translateY(-5px);
    }
    22%{
        transform: translateY(-10px);
    }
    33%{
        transform: translateY(-15px);
    }
    44%{
        transform: translateY(-20px);
    }
    55%{
        transform: translateY(-15px);
    }
    66%{
        transform: translateY(-10px);
    }
    77%{
        transform: translateY(-5px);
    }
    100%{
        transform: translateY(0);
    }
}

@keyframes festivalicon1{
        0% {
        transform: rotate(0);
    }

    50% {
        transform: rotate(25deg);
    }

    100% {
        transform: rotate(0);
    }
}

@keyframes festivalicon2{
        0% {
        transform: rotate(0);
    }

    50% {
        transform: rotate(-25deg);
    }

    100% {
        transform: rotate(0);
    }
}

@keyframes opacity{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

@keyframes updown{
    0%{
        transform: translateY(0);
    }
    50%{
        transform: translateY(15px);
    }
    100%{
        transform: translateY(0);
    }
}

@keyframes downup{
    0%{
        transform: translateY(0);
    }
    50%{
        transform: translateY(-15px);
    }
    100%{
        transform: translateY(0);
    }
}

/* 기본 설정 */
html,
body,
div,
span,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
em,
img,
small,
strong,
b,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tr,
th,
td,
article,
aside,
footer,
header,
nav,
section,
summary,
video {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

ol,
ul {
    list-style: none;
}

html {
    font-size: 18px;
     /* Prevent font scaling in landscape */

     -webkit-text-size-adjust: none; /*Chrome, Safari, newer versions of Opera*/

     -moz-text-size-adjust: none; /*Firefox*/

     -ms-text-size-adjust: none;  /*Ie*/

     -o-text-size-adjust: none; /*old versions of Opera*/
}

body {
    font-family: 'Pretendard-Regular';
    font-size: 18px;
    line-height: 1.5em;
    color: #040506;
    position: relative;
}

#wrap {
    min-width: 1400px;
    height: 4980px;
}

.font_dnf{
    font-family: 'DNFBitBitv2';
}

/* header_S */
.header_wrap{
    overflow: hidden;
    position: relative;
    height: 411px;
}

#header {   
    height: 91px;
    box-sizing: border-box;
    box-shadow: 0 3px 10px rgba(236, 155, 79, 0.2);
    position: fixed;
    top: 0;
    left: 50%;
    z-index: 998;
    width: 1920px;
    margin-left: -960px;  
}

.border{
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 0 0 50px 50px;
    transition: all 0.5s;
}

.border1{
    border-radius: 0 0 0px 0px;   
}

.inner_header {
    margin: 0 auto;
    width: 1320px;
    display: flex;
    justify-content: space-between;
}

.logo {
    margin: 7px 0;
    width: 177px;
    margin: 20px 0;
}

.gnb,
.header_link{
    display: flex;
    justify-content: space-between;
    margin-top: 45px;
}

.gnb {
    width: 650px;
    font-size: 23px;
    font-weight: 900;
}

.gnb> li {
    width: 25%;
    text-align: center;
}

.gnb> li> a {
    display: block;
    padding-bottom: 16px;
}

.gnb>li>a:hover {
    border-bottom: 3px solid #ED6C05;

}

.gnb>li>a:hover #header{
    background-color: rgba(255, 255, 255, 0.9);
}


.search_bar{
    margin-top: 36px;
    margin-right: -35px;
    display: flex;
    width: 240px;
    height: 40px;
    border: 1px solid #ED6C05;
    padding: 10px 20px 10px 20px;
    border-radius: 50px;
    box-sizing: border-box;
}

.search_bar input{
    display: block;
    width: 100%;
    border: none;
    outline: none;
    background-color: transparent;
    font-size: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.search_bar img{
    height: 21px;
    display: block;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* submenu */
.submenu{
    width: 100%;
    position: absolute;
    top: 91px;
    left: 0;
    background-color: rgba(255, 255, 255, 0.9);
    height: 300px;
    border-radius: 0 0 50px 50px;
    box-shadow: 0 7px 10px rgba(236, 155, 79, 0.2);
}

.inner_submenu{
    width: 1320px;
    margin: 0 auto;
    position: relative;
}

.sub_a{
    display: flex;
    width: 650px;
    position: absolute;
    top: 0;
    left: 235px;
}

.sub_a ul{
    width: 25%;
    text-align: center;
    margin-top: 10px;
}

.sub_a ul li a{
    display: block;
    padding: 7px 0;
    font-size: 19px;
}

.sub_a ul li a:hover{
    color: #EA5B18;
    font-weight: bold;
}

.sub_icon{
    background: url(../images/header/icon.svg) center no-repeat;
    height: 37px;
    margin-top: 235px;
}
/* header_link */
.header_link {
    width: 110px;
    font-size: 16px;
    font-weight: 300;
}

.language_icon img {
    display: block;
    margin-top: 4px;
    margin-right: 5px;
}

.language select {
    background-color: transparent;
    border: none;
    font-weight: inherit;
    outline: none;
}

/* header_E */

/* banner_S */
#banner{
    background: url(../images/about/intro/background.jpg) repeat-y center top fixed;
    height: 1087px;
    margin-top: -430px;
}

.banner_content_wrap{
    margin: 0 auto;
    width: 1320px;
    height: 1087px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 370px;
    animation: opacity 5s;
    position: relative;
}

.banner_content{
    position: fixed;
}

.welcome{
    padding-bottom: 25px;
}
/* banner_E */

/* container_S */
.container_wrap{
    overflow: hidden;
    height: 4980px;
    position: relative;
    top: -270px;
}

#container{
    margin: 0 auto;
    width: 1920px;
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -960px;
    z-index: 99;
}

/* section1_S */
#section1{
    background: url(../images/about/1_about/background.svg) no-repeat center;
    height: 1175.24px;
    text-align: center;
}

.sec1_logo_wrap{
    padding-top: 150px;
}

.sec1_icon_wrap{
    display: flex;
    justify-content: center;
    margin-top: 90px;
}

.sec1_content{
    font-size: 20px;
    padding-top: 15px;
}

.icon{
    margin: 0 15px;
}

.iconbottom{
    animation: updown 2.5s infinite linear;
}

.icontop{
    margin-top: -50px;
    animation: downup 2.5s infinite linear;
}
/* section1_E */

/* 공통 */
.section{
    margin: 0 auto;
    width: 1320px;
}

.section_back{
    background: url(../images/about/background.svg) no-repeat center;
    height: 3178.62px;
    overflow: hidden;
}

.section_wrap{
    padding: 50px 0;
}

.title_wrap{
    text-align: center;
    display: flex;
    justify-content: center;
    padding-top: 130px;
}

.title{
    margin: 25px 10px;
}

.title div img{
    padding-bottom: 5px;
}

.title_left{
    animation: titleicon1 3s infinite linear;
}

.title_right{
    animation: titleicon2 3s infinite linear;
}

/* section2_S */
#section2{
    height: 1064px;
    box-sizing: border-box;
    position: relative;
}

.cloud1{
    position: absolute;
    top: 680px;
    left: -300px;
}

.cloud2{
    position: absolute;
    top: 375px;
    left: -36px;
}

.cloud3{
    position: absolute;
    top: 727px;
    right: 0;
}

.cloud4{
    position: absolute;
    top: 323px;
    right: -300px;
}

.mumu_back{
    text-align: center;
    position: absolute;
}

.mumu_back1{
    top: 290px;
    left: 50%;
    z-index: 9;
    margin-left: -533px;
}

.mumu_back2{
    top: 665px;
    left: 50%;
    z-index: 9;
    margin-left: -533px;
}

.box_wrap{
    display: flex;
    justify-content: space-between;

}

.box_wrap1{
    width: 790px;
}

.box_wrap2{
    width: 890px;
}

.box_wrap1{
    position: absolute;
    top: 323px;
    left: 180px;
    z-index: 10;
}

.box_wrap2{
    position: absolute;
    top: 699px;
    right: 180px;
    z-index: 10;
}

.mumu_text{
    padding: 60px 0;
    box-sizing: border-box;
}

.mumu_text2{
    padding-top: 65px;
}

.name{
    color: #EE7514;
    font-size: 40px;
}

.age{
    font-family: 'Pretendard-Regular';
    font-size: 20px;
    color: #040506;
}

.introduce{
    line-height: 1.7em;
    font-size: 21px;
    padding-top: 15px;
}
/* section2_E */

/* section3_S */
#section3{
    position: relative;
    height: 750px;
}

.sec3_content{
    display: flex;
    width: 1320px;
    justify-content: space-between;
    position: absolute;
    top: 313.55px;
    left: 50%;
    margin-left: -660px;
    z-index: 2;
}

.color_text{
    padding: 20px 0 10px;
    font-size: 20px;
}

.color_content{
    margin-left: -10px;
}

.super{
    padding: 30px 0 20px;
}

.Pretendard{
    font-size: 40px;
    font-weight: 900;
    padding: 20px 0 20px;
}

.font_text{
    font-size: 22px;
}

.toast1{
    position: absolute;
    top: 350px;
    left: -350px;
    animation: updown 2.5s infinite linear;
}

.toast2{
    position: absolute;
    top: 100px;
    right: -390px;
    animation: updown 2.5s infinite linear;
}
/* section3_E */

/* section4_S */
.bi_wrap{
    width: 1320px;
    justify-content: space-between;
    display: flex;
}

.bi{
    padding-top: 50px;
    text-align: center;
}

.bi_img{
    padding-top: 40px;
}

.bi_img1,
.bi_img3{
    padding-top: 80px;
}

.bi_img2 span{
    margin: 0 40px;
}

.download_btn{
    padding: 40px 0;
    text-align: center;
}

.download_btn{
    padding-top: 70px;
}

.download_btn a{
    display: inline-block;
    border-radius: 150px;
    padding: 15px 15px;
    background-color: #EE7514;
}

.download_btn a:hover{
    background-color: #cf5d00;
}

.download{
    display: flex;
    color: #FBF8F4;
}

.download img{
    display: block;
    padding-right: 10px;
}

.yang{
    position: absolute;
    bottom: 780px;
    left: 180px;
    animation: downup 0.8s linear infinite;
}

.gun{
    position: absolute;
    bottom: 780px;
    left: 400px;
    animation: downup 0.8s linear infinite;
}
/* section4_E */

/* footer_S */
#footer{
    background-color: #6EAC51;
    height: 630px;
    overflow: hidden;
    width: 1920px;
}

.footer_line{
    text-align: center;
}

.inner_footer{
    color: #FBF8F4;
    width: 1320px;
    margin: 0 auto;
    position: relative;
}

.footer_logo{
    padding: 100px 0 40px;
}

.number{
    font-weight: 900;
    font-size: 40px;
}

.time{
    padding: 20px 0 25px;
    font-size: 20px;
}

.soclal{
    font-size: 30px;
}

.sns_wrap{
    display: flex;
    height: 43px;
    align-items: center;
    padding: 7px 0 30px;
}

.sns_wrap img{
    display: block;
    margin-right: 3px;
}

.sns_wrap li a{
    display: flex;
    align-items: center;
    margin-right: 20px;
}

.kakaotalk img{
    margin-right: 8px;
}

.footer_link{
    display: flex;
    font-weight: 900;
    padding-bottom: 5px;
}

.footer_link a:hover{
    color: #EB8439;
}

.footer_link li::after{
    width: 1px;
    height: 13px;
    content: "";
    background-color: #707070;
    display: inline-block;
    margin: 0 20px;
}

.footer_link li:nth-child(3)::after{
    display: none;
}

.footer_icon{
    position: absolute;
    bottom: 0;
    right: 0;
    /* animation: opacity 7s; */
}

.top_btn{
    position: absolute;
    top: 430px;
    right: 0;
}
/* footer_E */

/* talk_S */
.talk_btn{
    overflow: hidden;
    position: relative;
    cursor: pointer;
}

.t_toast{
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 13;
}

.t_mumu{
    position: fixed;
    bottom: 141px;
    right: 66.5px;
    z-index: 11;
    transform: translateY(40px);
    transition: all 0.7s linear;
}

.talk_btn:hover .t_mumu{
    transform: translateY(17px);
}

.t_help{
    position: fixed;
    bottom: 168px;
    right: 50.5px;
    z-index: 12;
    opacity: 0;
    transition: all 0.5s linear;
}

.talk_btn:hover .t_help{
    opacity: 1;
}
/* talk_E */

/* talk_board_S */
.talk_wrap{
    overflow: hidden;
}

.talk_popup{
    position: fixed;
    bottom: 160px;
    right: 200px;
    z-index: 999;
}

.x_btn{
    position: fixed;
    bottom: 650px;
    right: 150px;
    z-index: 15;
    cursor: pointer;
}

.popup_board{
    width: 500px;
    height: 500px;
    background: url(../images/talk/board.svg) no-repeat;
    border-radius: 15px;
    box-shadow: 1px 2px 7px rgba(126, 61, 0, 0.5);
    overflow: hidden;
    box-sizing: border-box;
}

.p_slogan{
    font-size: 17px;
    height: 27px;
    text-align: center;
    padding: 2px 0;
}

.p_w{
    position: absolute;
    top: 50px;
    left: 28px;
    font-weight: 900;
}

.p_logo_wrap{
    display: flex;
    justify-content: space-between;
    width: 203px;
    position: absolute;
    top: 74px;
    left: 28px;
    height: 70px;
    align-items: center;
}

.p_logo1{
    animation: updown 1.5s linear;
}

.p_logo2{
    animation: downup 1.5s linear;
}

.p_logo3{
    margin-top: -20px;
    animation: updown 1.5s linear;
}

.p_milk_wrap{
    display: flex;
    justify-content: center;
    width: 500px;
    height: 500px;
    align-items: center;
    margin-top: 10px;
}

.p_milk1{
    margin-right: 170px;
    transform: rotate(0);
    transition: all 1s;
}

.p_milk2{
    transform: rotate(0);
    transition: all 1s;
}

.p_content_wrap{
    display: flex;
    justify-content: space-between;
    width: 460px;
    position: absolute;
    top: 159px;
    left: 50%;
    margin-left: -226.5px;
}

.p_box{
    padding: 20px 12px;
}

.p_box1{
    width: 219px;
    height: 287px;
    background: url(../images/talk/box1.svg) no-repeat;
}

.popup_board:hover .p_milk1{
    transform: rotate(35deg);
}

.popup_board:hover .p_milk2{
    transform: rotate(-35deg);
}

.p_box2{
    width: 219px;
    height: 287px;
    background: url(../images/talk/box2.svg) no-repeat;
}

.box_title{
    display: flex;

}

.p_title{
    margin-left: 8px;
}

.p_ts{
    height: 19px;
    font-size: 12px;

}

.p_tb{
    font-size: 17px;
    font-weight: 900;
}

.p_text{
    line-height: 1.2em;
    font-size: 14px;
    padding-top: 5px;
}

.p_btn{
    display: inline-block;
    background-color: #EE7514;
    padding: 2px 10px;
    border-radius: 30px;
    font-size: 16px;
    margin-top: 10px;
    color: #FBF8F4;
    cursor: pointer;
    border: 1px solid #EE7514;
}

.p_btn:hover{
    border: 1px solid #EE7514;
    background-color: transparent;
    color: #EE7514;
}
/* talk_board_E */
